<div class="form-group has-feedback">
    <%= label_tag  "", "Vote Title", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :vote_id, Vote.order(:id), :id, :title, include_blank: false %>
    </div>
</div>


<div class="form-group has-feedback <%= validation_state(@vote_info, :content_title) %>">
  <%= f.label :content_title, "Content Title", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :content_title, autofocus: true, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@vote_info, :content_title) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@vote_info, :content_title) %></span>
  </div>
</div>

<div class="form-group has-feedback <%= validation_state(@vote_info, :content) %>">
  <%= f.label :content, "Content", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :content, autofocus: true, class: "form-control", rows: "10" %>
    <span class="glyphicon <%= validation_state_feedback(@vote_info, :content) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@vote_info, :content) %></span>
  </div>
</div>

<div class="form-group has-feedback <%= validation_state(@vote_info, :content_plus) %>">
  <%= f.label :content_plus, "Content Plus", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :content_plus, autofocus: true, class: "form-control", rows: "10" %>
    <span class="glyphicon <%= validation_state_feedback(@vote_info, :content_plus) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@vote_info, :content_plus) %></span>
  </div>
</div>


<div class="form-group has-feedback <%= validation_state(@vote_info, :info_type) %>">
  <%= f.label :info_type, "Information Type", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :info_type, autofocus: true, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@vote_info, :info_type) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@vote_info, :info_type) %></span>
  </div>
</div>

<div class="form-group has-feedback <%= validation_state(@vote_info, :speaker_id) %>">
  <%= f.label :speaker_id, "Speaker ID", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :speaker_id, autofocus: true, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@vote_info, :speaker_id) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@vote_info, :speaker_id) %></span>
  </div>
</div>

<div class="form-group has-feedback <%= validation_state(@vote_info, :sequence) %>">
  <%= f.label :sequence, "Sequence", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :sequence, autofocus: true, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@vote_info, :sequence) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@vote_info, :sequence) %></span>
  </div>
</div>