<div class="jc_all_pad">
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%=@vote_percentage%>%;"></div>
    </div>

  <div class="jc_shrinker">
    <h1><%= @step_number %>&nbsp;<%= @vote.title %></h1><!-- <h1>&#10077<%= @vote.title %>&#10078</h1> -->
  </div>
    <div class="jc_number"><%= @step_number %></div>

    <h1 class="jc_vote_title" ><%= @vote.title %></h1><!-- <h1>&#10077<%= @vote.title %>&#10078</h1> -->


    <div id="jc_background" class="jc_what_happened">
      <div>제안일 : <%= @vote.voted_date %></div>
      <div class="jc_prev_story">
        <a href="#jc_background_c" data-toggle="collapse">
          무슨 일이 있었지?
        </a>
      </div>
      <img src="http://imagizer.imageshack.us/v2/100x75q90/905/GP2wIx.png" class="jc_greencircle_1">
    </div>

    <div id="jc_background_c" class="collapse flow-text">
      <%= simple_format @vote.vote_infos.previously.content %>
    </div>
    <img src="http://imagizer.imageshack.us/v2/100x75q90/905/GP2wIx.png" class="jc_greencircle_2">
    <div id="jc_debate_color">
    <div id="jc_discussion">토론</div>


    <% @vote.vote_infos.opinions.each do |vote_info| %>

      <%= render 'sequence', vote_info: vote_info %>

    <% end %>
  </div>



    <div class="clearfix"></div>

    <!-- Start of the form -->
    <%= form_for @vote_result, html: {role: "form", class: "vote-form" } do |f| %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :vote_id, @vote.id %>

      <div class="form-group has-feedback text-center <%= validation_state(@vote_result, :result) %>">


        <div class="btn-group radio" data-toggle="buttons">
          <label class="btn btn-success ">
            <%= f.radio_button :result, 'chanseong', required: "required" %>
            <h4>찬성</h4>
          </label>
          <img src="http://imagizer.imageshack.us/v2/150x100q90/905/GP2wIx.png" class="jc_greencircle_3">
          <label class="btn btn-danger ">
            <%= f.radio_button :result, 'bandae', required: "required" %>
            <h4>반대</h4>
          </label>
        </div>

        <span class="glyphicon <%= validation_state_feedback(@vote_result, :result) %> form-control-feedback"></span>
        <span class="help-block"><%= attribute_error_message(@vote_result, :result) %></span>
      </div>
      <% if @step_number == 6 %>
        <%= button_tag(type: 'submit', class: "btn btn-primary center-block jc_btn_custom")  do %>
          결과보기 <span class="glyphicon glyphicon-flag"></span>

        <% end %>
      <% else %>
        <%= f.submit "다음 안건으로 ", class: "btn btn-primary center-block jc_btn_custom"  %>
      <% end %>


    <% end %>
    <!-- end of the form -->

  </div><!-- col-xs-12 col-md-6 col-md-offset-3 -->
</div><!-- row -->
</div><!-- jc_all_pad -->
