<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%=@vote_percentage%>%;">
  </div>
</div>

<h1><%= @vote.title %></h1>


<%= form_for @vote_result, html: {role: "form", class: "form-horizontal"} do |f| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= hidden_field_tag :vote_id, @vote.id %>
  <%= f.radio_button :result, 'yes' %>
  <%= label :result_yes, 'Yes' %>
  <%= f.radio_button :result, 'no' %>
  <%= label :result_no, 'No' %>


  <div class="align-center">
    <%= f.submit "submit", class: "btn btn-primary "  %>
  </div>
<% end %>

