<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <p class= "jc_results_ment_title">당신의 정친테스트 결과</p>
    <p class="jc_results_ment flow-text">당신은 <i><%= "#{@reporting_named_result[:representative].name} (#{@reporting_named_result[:point]}%)" %></i> 라기 보다는...</p>
     <img src="http://imagizer.imageshack.us/v2/100x75q90/905/GP2wIx.png" class="jc_greencircle_name"><br>

    <!-- Carousel Start -->
    <div class="representatives-carousel">
    <% @reporting_results.each do |score| %>
      <div class="jc_results">

      <div class="jc_rep_name"><%= score[:representative].name %></div>
      <div style="overflow:hidden; max-height:400px;"><img src= "<%= score[:representative].profile_result_img_url %>" class="jc_rep_img "/></div>
      <div><img src= "<%= score[:representative].profile_party_img_url %>" class="jc_party_img"/></div>
      <!-- <%= score[:representative].party %> --> <!-- Party's logo image  -->
      <%= score[:representative].area %>
      <br>
      <%= score[:representative].profile_combo_info %>
      <br>
      <%= score[:point] %>%
      <br>
      (의견일치 +1, 의견상충 -1)
      <br>

      </div>
    <% end %>
    </div>
    <!-- Carousel End -->
    <img src="http://imagizer.imageshack.us/v2/100x75q90/905/GP2wIx.png" class="jc_greencircle_result">
    <p class="jc_results_share">이 결과를<br>페이스북에<br>공유하기<p>




    <div class="text-center">
      <% if (!@user.email.blank? && @user.id == session[:user_id]) %>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cancelUserAlarm">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> 선거 즈음에 이 결과를 다시 보내드리겠습니다.
        </button></br>
      <% else %>
        <button type="button" class="btn btn-default <%= btn_active(@user) %> " data-toggle="modal" data-target="#userAlarm">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span> 선거 즈음에 이 결과를 다시 받기
        </button></br>
      <% end %>



      <%= link_to(vote_results_path, class: "btn btn-default ") do %>
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"> </span> 다시하기
      <% end %>
      <br><br>
    </div>

  <!-- Facebook meta tags -->
  <meta property="og:title" content="당신은 <%= "#{@reporting_named_result[:representative].name}"%> 보다는 <%="#{@reporting_results.first[:representative].name}"%>" />
  <meta property="og:site_name" content="정친(政親)"/>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:description" content="국회의원 300명 중에 당신의 정친(政親)은 누굴까요? 나경원? 이완구? 문재인? 안철수? 정친(政親)은 5분 안으로 300명의 국회의원 중 당신과 가장 잘 맞는 정치인을 찾아드립니다. " />
  <meta property="fb:app_id" content="475973985913779" />


  </div><!-- end of col-xs-12 col-md-6 col-md-offset-3 -->
</div> <!-- end of row -->

<%= render 'report_user_alarm_modal' %>
<%= render 'report_cancel_user_alarm_modal' %>
