<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="representatives-carousel">
    <% @reporting_results.each do |score| %>
      <div>
      <%= score[:representative].name %>
      <img src= "http://watch.peoplepower21.org/images/member/<%= score[:representative].id %>.jpg" />
      <%= score[:representative].party %>
      <%= score[:count] %>
      </div>
    <% end %>
    </div>

    <div class="text-center">
      <%= link_to(vote_results_path, class: "btn btn-default ") do %>
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"> </span> 다시하기
      <% end %>
    </div>


  </div><!-- end of col-xs-12 col-md-6 col-md-offset-3 -->
</div> <!-- end of row -->